DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=pesquisaia
OPENAI_API_KEY=sk-...sua-chave-aqui

# Modelos OpenAI
OPENAI_MODEL_WIZARD=gpt-4o
OPENAI_MODEL_REPORT=gpt-4o
OPENAI_MODEL_GENERATOR=gpt-4o-mini

# Admin Config
ADMIN_ROUTE=gerenciador-secreto-admin
ADMIN_EMAILS=dev@pesquisaia.com,robertoviana@gmail.com
